extends layout
block content
    title #{title}
    center
        h1 Add a Class
        form(method='post', name = 'addroom', action='/addClass')
            div.class.row
               input(type="number", name='Class', placeholder="Class Nbr")
            div.class.row
               input(type="text", name='Catalog', placeholder="Catalog")
            div.class.row
               input(type='text', name='Subject',placeholder ="Subject")
            div.class.row
               input(type='text', name='Title',placeholder ="Title")
            div.class.row
               input(type='number', name='Section',placeholder ="Section")
            div.class.row
               input(type="text", name='Component', placeholder="Component")
            div.class.row
               input(type='text', name='MtgS',placeholder ="Mtg Start")
            div.class.row
               input(type="text", name='MtgE', placeholder="Mtg End")
            div.class.row
               input(type='text', name='Pat',placeholder ="Pat")
            div.class.row
               input(type="text", name='First', placeholder="First Name")
            div.class.row
               input(type='text', name='Last',placeholder ="Last Name")
            div.class.row
               input(type="number", name='Cap', placeholder="Cap Enrl")
            div.class.row
               input(type='number', name='Tot',placeholder ="Total Enrolled")
            div.class.row
               input(type="text", name='Start', placeholder="Start_Date")
            div.class.row
               input(type='text', name='End',placeholder ="End_Date")
            div.class.row
               input(type="number", name='Session', placeholder="Session")
            div.class.row
               input(type='text', name='Location',placeholder ="Location")
            div.class.row
               input(type="text", name='Mode', placeholder="Mode")
            div.class.row
               input(type="text", name='CrsAtr_Val', placeholder='CrsAtr_Val')
            div.class.row.btn-group-vertical
                input(type='submit', class="btn btn-danger")
