extends layout
block content

    title #{title}
    div.row
      p.right.col-md-3 Select Group:
      select.form.right.col-md-3.distinct()
                #classys
                    -each classy in classys
                        option(value = classy.Group_ID) #{classy.Course_Title}
    div.row
      p.right.col-md-3 Select class# to add to group:
      select.form-control
            #classys2
                -each classy2 in classys2
                    option(value = classy2._id) #{classy2.Course_ID}