extends layout
block content
    title #{title}
    div.row
      h4 Please Fill out the following room information:
    div.row
      form(method='post', name = 'addroom', action='/addRoom')

         div.class.col-lg-3
            label(for="Room_Number") Room Number:&nbsp;
            input(type='text', name='Room_Number',placeholder ="Room Number" id="Room_Number")
         div.class.col-lg-3
             label(for="Max") Max Capacity:&nbsp;
             input(type="text", name='Max_Capacity', placeholder="Max Capacity" id="Max")
         div.class.col-lg-3
             label(for="Spec") Special Traits:&nbsp;
             input(type="text", name = 'Spec_Trait', placeholder="Leave blank if no traits" id="Spec")
         div.class.col-sm-2
             input(type='submit', class="btn btn-danger")
