//
   Created by Kenneth on 5/2/2015.
extends layout
block content
   script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
      script
        include ../public/javascripts/editSchedule.js
   title #{title}
   h1 Schedule
   p Run the Scheduler
   title Jade Intro
   div.row
      div.class.col-md-3 Click below to run the Scheduler!
   div.row
      form(method='post' action='/runScheduler')
         div.class.col-sm-2
         div.class.col-md-1
            input(type='submit', value='Submit', class="btn btn-danger")
   div.row
      #classes
         -each classy in classes
            p
               ul= classy.Class_Time.Start
               editSchedules()
            #rooms
               -each room in rooms
                   p
                      ul= room.Room_Number