extends layout

block content
<<<<<<< HEAD
    script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
    script
        include getCalendarInfo.js

=======
    title #{title}
>>>>>>> fed4e7651954f24de8fdac2bb32dd0693a299311
    h1 Calendar
    p.right.col-md-3 Select Room:
        select.form-control(onchange="getCalendarInfo(this)")
          #rooms
            -each room in rooms
                option #{room.Room_Number}
    div
        table.table.table-bordered
            tbody.small
                tr
                    th
                    th Monday
                    th Tuesday
                    th Wednesday
                    th Thursday
                    th Friday
                    th Saturday
                tr
                    td 7:30 AM
                    td.M730A
                    td.T730A
                    td.W730A
                    td.R730A
                    td.F730A
                    td.S730A
                tr
                    td 7:45 AM
                    td.M745A
                    td.T745A
                    td.W745A
                    td.R745A
                    td.F745A
                    td.S745A
                tr
                    td 8:00 AM
                    td.M800A
                    td.T800A
                    td.W800A
                    td.R800A
                    td.F800A
                    td.S800A
                tr
                    td 8:15 AM
                    td.M815A
                    td.T815A
                    td.W815A
                    td.R815A
                    td.F815A
                    td.S815A
                tr
                    td 8:30 AM
                    td.M830A
                    td.T830A
                    td.W830A
                    td.R830A
                    td.F830A
                    td.S830A
                tr
                    td 8:45 AM
                    td.M845A
                    td.T845A
                    td.W845A
                    td.R845A
                    td.F845A
                    td.S845A
                tr
                    td 9:00 AM
                    td.M900A
                    td.T900A
                    td.W900A
                    td.R900A
                    td.F900A
                    td.S900A
                tr
                    td 9:15 AM
                    td.M915A
                    td.T915A
                    td.W915A
                    td.R915A
                    td.F915A
                    td.S915A
                tr
                    td 9:30 AM
                    td.M930A
                    td.T930A
                    td.W930A
                    td.R930A
                    td.F930A
                    td.S930A
                tr
                    td 9:45 AM
                    td.M945A
                    td.T945A
                    td.W945A
                    td.R945A
                    td.F945A
                    td.S945A
                tr
                    td 10:00 AM
                    td.M1000A
                    td.T1000A
                    td.W1000A
                    td.R1000A
                    td.F1000A
                    td.S1000A
                tr
                    td 10:15 AM
                    td.M1015A
                    td.T1015A
                    td.W1015A
                    td.R1015A
                    td.F1015A
                    td.S1015A
                tr
                    td 10:30 AM
                    td.M1030A
                    td.T1030A
                    td.W1030A
                    td.R1030A
                    td.F1030A
                    td.S1030A
                tr
                    td 10:45 AM
                    td.M1045A
                    td.T1045A
                    td.W1045A
                    td.R1045A
                    td.F1045A
                    td.S1045A
                tr
                    td 11:00 AM
                    td.M1100A
                    td.T1100A
                    td.W1100A
                    td.R1100A
                    td.F1100A
                    td.S1100A
                tr
                    td 11:15 AM
                    td.M1115A
                    td.T1115A
                    td.W1115A
                    td.R1115A
                    td.F1115A
                    td.S1115A
                tr
                    td 11:30 AM
                    td.M1130A
                    td.T1130A
                    td.W1130A
                    td.R1130A
                    td.F1130A
                    td.S1130A
                tr
                    td 11:45 AM
                    td.M1145A
                    td.T1145A
                    td.W1145A
                    td.R1145A
                    td.F1145A
                    td.S1145A
                tr
                    td 12:00 PM
                    td.M1200P
                    td.T1200P
                    td.W1200P
                    td.R1200P
                    td.F1200P
                    td.S1200P
                tr
                    td 12:15 PM
                    td.M1215P
                    td.T1215P
                    td.W1215P
                    td.R1215P
                    td.F1215P
                    td.S1215P
                tr
                    td 12:30 PM
                    td.M1230P
                    td.T1230P
                    td.W1230P
                    td.R1230P
                    td.F1230P
                    td.S1230P
                tr
                    td 12:45 PM
                    td.M1245P
                    td.T1245P
                    td.W1245P
                    td.R1245P
                    td.F1245P
                    td.S1245P
                tr
                    td 1:00 PM
                    td.M100P
                    td.T100P
                    td.W100P
                    td.R100P
                    td.F100P
                    td.S100P
                tr
                    td 1:15 PM
                    td.M115P
                    td.T115P
                    td.W115P
                    td.R115P
                    td.F115P
                    td.S115P
                tr
                    td 1:30 PM
                    td.M130P
                    td.T130P
                    td.W130P
                    td.R130P
                    td.F130P
                    td.S130P
                tr
                    td 1:45 PM
                    td.M145P
                    td.T145P
                    td.W145P
                    td.R145P
                    td.F145P
                    td.S145P
                tr
                    td 2:00 PM
                    td.M200P
                    td.T200P
                    td.W200P
                    td.R200P
                    td.F200P
                    td.S200P
                tr
                    td 2:15 PM
                    td.M215P
                    td.T215P
                    td.W215P
                    td.R215P
                    td.F215P
                    td.S215P
                tr
                    td 2:30 PM
                    td.M230P
                    td.T230P
                    td.W230P
                    td.R230P
                    td.F230P
                    td.S230P
                tr
                    td 2:45 PM
                    td.M245P
                    td.T245P
                    td.W245P
                    td.R245P
                    td.F245P
                    td.S245P
                tr
                    td 3:00 PM
                    td.M300P
                    td.T300P
                    td.W300P
                    td.R300P
                    td.F300P
                    td.S300P
                tr
                    td 3:15 PM
                    td.M315P
                    td.T315P
                    td.W315P
                    td.R315P
                    td.F315P
                    td.S315P
                tr
                    td 3:30 PM
                    td.M330P
                    td.T330P
                    td.W330P
                    td.R330P
                    td.F330P
                    td.S330P
                tr
                    td 3:45 PM
                    td.M345P
                    td.T345P
                    td.W345P
                    td.R345P
                    td.F345P
                    td.S345P
                tr
                    td 4:00 PM
                    td.M400P
                    td.T400P
                    td.W400P
                    td.R400P
                    td.F400P
                    td.S400P
                tr
                    td 4:15 PM
                    td.M415P
                    td.T415P
                    td.W415P
                    td.R415P
                    td.F415P
                    td.S415P
                tr
                    td 4:30 PM
                    td.M430P
                    td.T430P
                    td.W430P
                    td.R430P
                    td.F430P
                    td.S430P
                tr
                    td 4:45 PM
                    td.M445P
                    td.T445P
                    td.W445P
                    td.R445P
                    td.F445P
                    td.S445P
                tr
                    td 5:00 PM
                    td.M500P
                    td.T500P
                    td.W500P
                    td.R500P
                    td.F500P
                    td.S500P
                tr
                    td 5:15 PM
                    td.M515P
                    td.T515P
                    td.W515P
                    td.R515P
                    td.F515P
                    td.S515P
                tr
                    td 5:30 PM
                    td.M530P
                    td.T530P
                    td.W530P
                    td.R530P
                    td.F530P
                    td.S530P
                tr
                    td 5:45 PM
                    td.M545P
                    td.T545P
                    td.W545P
                    td.R545P
                    td.F545P
                    td.S545P
                tr
                    td 6:00 PM
                    td.M600P
                    td.T600P
                    td.W600P
                    td.R600P
                    td.F600P
                    td.S600P
                tr
                    td 6:15 PM
                    td.M615P
                    td.T615P
                    td.W615P
                    td.R615P
                    td.F615P
                    td.S615P
                tr
                    td 6:30 PM
                    td.M630P
                    td.T630P
                    td.W630P
                    td.R630P
                    td.F630P
                    td.S630P
                tr
                    td 6:45 PM
                    td.M645P
                    td.T645P
                    td.W645P
                    td.R645P
                    td.F645P
                    td.S645P
                tr
                    td 7:00 PM
                    td.M700P
                    td.T700P
                    td.W700P
                    td.R700P
                    td.F700P
                    td.S700P
                tr
                    td 7:15 PM
                    td.M715P
                    td.T715P
                    td.W715P
                    td.R715P
                    td.F715P
                    td.S715P
                tr
                    td 7:30 PM
                    td.M730P
                    td.T730P
                    td.W730P
                    td.R730P
                    td.F730P
                    td.S730P
                tr
                    td 7:45 PM
                    td.M745P
                    td.T745P
                    td.W745P
                    td.R745P
                    td.F745P
                    td.S745P
                tr
                    td 8:00 PM
                    td.M800P
                    td.T800P
                    td.W800P
                    td.R800P
                    td.F800P
                    td.S800P
                tr
                    td 8:15 PM
                    td.M815P
                    td.T815P
                    td.W815P
                    td.R815P
                    td.F815P
                    td.S815P
                tr
                    td 8:30 PM
                    td.M830P
                    td.T830P
                    td.W830P
                    td.R830P
                    td.F830P
                    td.S830P
                tr
                    td 8:45 PM
                    td.M845P
                    td.T845P
                    td.W845P
                    td.R845P
                    td.F845P
                    td.S845P
                tr
                    td 9:00 PM
                    td.M900P
                    td.T900P
                    td.W900P
                    td.R900P
                    td.F900P
                    td.S900P
                tr
                    td 9:15 PM
                    td.M915P
                    td.T915P
                    td.W915P
                    td.R915P
                    td.F915P
                    td.S915P
                tr
                    td 9:30 PM
                    td.M930P
                    td.T930P
                    td.W930P
                    td.R930P
                    td.F930P
                    td.S930P
                tr
                    td 9:45 PM
                    td.M945P
                    td.T945P
                    td.W945P
                    td.R945P
                    td.F945P
                    td.S945P