//
   Created by Kenneth on 4/25/2015.

extends layout
block content
   title #{title}
   h1 Schedule
   p Run the Scheduler
   a.btn.btn-primary(href="/generateSchedule") Generate Schedule
   a.btn.btn-primary(href="/editSchedule") Generate Schedule
   a.btn.btn-primary(href="/clearSchedule") Delete the Schedule
   a.btn.btn-primary(href="/downloadSchedule") Download Current Schedule
   a.btn.btn-primary(href="/downloadOldSchedule") Download Old Schedule
