//
   Created by Kenneth on 4/25/2015.

extends layout
block content
   title #{title}
   h1 Schedule
   p Run the Scheduler
   a.btn.btn-primary(href="/automateSchedule") Generate Schedule
   a.btn.btn-primary(href="/geteditSchedule") Edit the Schedule