extends layout
block content
   script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
   script
      include ../public/javascripts/editRoom.js
   title #{title}
   div.row
      h4 Please select a room and change the data:
      p.right.col-md-3 Select Room:
      div(Hi = "room")
         select.form-control(onchange="editRoom(value)")
            #rooms
               -each room in rooms
                  option(value = room._id) #{room.Room_Number}
   div.row
      form(method='post', name = 'editroom', action='/editRoomdata')
         div.class.col-lg-3
            input(type = "hidden",name="Room_ID",id="Room_ID",value ="")
         div.class.col-lg-3
            label(for="Room_Number") Room Number:&nbsp;
            input(type = "hidden",name="Room_Number",id="Room_Number",value ="")
         div.class.col-lg-3
            label(for="Max_Cap") Max Capacity:&nbsp;
            input(type="text", name='Max_Cap',id ="Max_Cap", Placeholder="Max Capacity")
         div.class.col-lg-3
            label(for="Spec") Special Traits:&nbsp;
            input(type="text", name="Spec", id ="Spec", placeholder ="Lab?", value ="")
         div.class.col-sm-2
            input(type='submit', class="btn btn-danger")
