//
   Created by Kenneth on 5/2/2015.
extends layout
block content
   h1 Schedule
   div.row
      div.class.col-md-3 Select Zoom
   div.row
      form(method='post' action='/editScheduledata')
         div.class.col-sm-2
            select(name='room_id')
               #rooms
                  -each room in rooms
                     option(value=room._id) #{room.Course_Title +" "+ room.Instructor.First_Name +" "+ room.Instructor.Last_Name +" "+ room.Class_Time.Days) #{room.class_id}
            input(type='text', name='Room Assigned',placeholder ="Room Number")
            input(type='text', name='Course_ID',placeholder ="Course Id")
            input(type='text', name='Time_Assigned',placeholder ="Time of Day")
            input(type='submit', value='Submit', class="btn btn-danger")