//Created by Kenneth and TJ
   allows edit of schedule
extends layout
block content
   script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
   script
      include ../public/javascripts/editSchedule.js
   title #{title}
   center
      p.right.col-md-3 Select Group/Room: &nbsp;
         select(onchange="editSchedule(value)")
            #schedules
               -each s in schedules
                  option(value = s._id) #{"Title: " + s.Course_Title + " Inst: " + s.Instructor}
      div.row
         form(method='post', name = 'edit', action='/editScheduleData')
            div.class.row
               input(type="hidden", name='_id',id="_id",value="")
            div.class.row
               label(for="Room_Number") Room_Number:&nbsp;
               input(type="number", name='Room_Number',id ="Room_Number", placeholder="Room_Number",value="")
            div.class.row.btn-group-vertical
               input(type='submit', class="btn btn-danger")



