"Course_Title": "DATA STRUCTURES",
"Instructor": "Brian Dorn",
"Start": "4:00:00 PM",
"End": "5:15:00 PM",
"Days": "TR",
"Class_Capacity": "25"

extends layout
block content
   script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
   script
      include ../public/javascripts/editClass.js
   title #{title}
   center
      div.row
         h4 Please select a room and change the data:
      p.right.col-md-3 Select Class ID#: &nbsp;
         select(onchange="editClass(value)")
            #groups
               -each group in groups
                  option(value = group._id) #{group.Course_Title + " taught by: " + group.Instructor}
