extends layout
block content
    title #{title}
    h3 Add/Remove to/from Groups
    div.row
        div.row
            a.btn.btn-primary(href="/addgroup") Add Class to Group
        div.row
            a.btn.btn-primary(href="/removegroup") Remove Class from Group

