doctype html
html
  head
    link(href='css/bootstrap.min.css', rel='stylesheet')
    link(href='css/UNO.css', rel='stylesheet')
  body
    div.navbar.navbar-default
      ul.nav.navbar-nav
        li
          img(src='images/logoblack.jpg')
        li(class=(title === 'Home' ? 'active' : ''))
          a(href='./') Home
        li(class=(title === 'Upload' ? 'active' : ''))
          a(href='./upload') Upload
        li(class=(title === 'Calendar' ? 'active' : ''))
          a(href='./calendar') Calendar
        li(class=(title === 'Rooms' ? 'active' : ''))
          a(href='./rooms') Add/Remove Rooms
        li(class=(title === 'Classes' ? 'active' : ''))
          a(href='./classes') Add/Remove Classes
        li(class=(title === 'Groups' ? 'active' : ''))
          a(href='./group') Add/Remove Groups
        li(class=(title === 'Scheduler' ? 'active' : ''))
          a(href='./createSchedule') Create a Schedule
        li(class=(title === 'Clear Scheduler' ? 'active' : ''))
          a(href='./clearScheduler') Clear Schedule
    div.container
      div.jumbotron
        block content
