//
   Created by Kenneth on 4/26/2015.
doctype html
html
   body
      title #{title}
      p#demo
      script.
         var cars = ["Saab", "Volvo", "BMW"];
         document.getElementById("demo").innerHTML = cars[0];
