extends layout

block content
    title #{title}
        form(method='post', enctype='multipart/form-data', action='/addUser')
            | First name: 
            input(type='text', name='Name')
            br
            |   Last name: 
            input(type='text', name='Password')
            |   Scheduler
            input(type='radio', name='Permissions', value='Scheduler', checked ='')
            |   Teacher
            input(type='radio', name='Permissions', value='Teacher')
            |   Other
            input(type='radio', name='Permissions', value='Other')
            br
            input(type='submit', class="btn btn-danger")