//Created by TJ
    removes a room from the database
extends layout
block content
    title #{title}
    h1 Remove Room
    div.row
        div.class.col-md-3 Select Room
    div.row
        form(method='post' action='/removeroomdata')
            select(name='room_id')
                #rooms
                    -each room in rooms
                        option(value= room._id) #{room.Room_Number}
            input(type='submit', value='Submit', class="btn btn-danger")
