extends layout
block content
   title #{title}
   form(method='post', action='/removeGroupData')
      p Select class# to un-group:
      select(name='groupy')
         #classys2
            -each classy2 in classys2
                option(value = classy2._id) #{classy2.Class_ID+" "+ classy2.Course_Title}
      input(type='submit', class="btn btn-danger")

