extends layout
block content
   h1 Calendar
   p.right.col-md-3 Select Room:
    form(method='post' action='/removeclassydata')
        select(name='class_id')
            #rooms
                -each room in rooms
                    option(value=room._id) #{room.Subject +" "+ room.Course_ID +" "+room.Class_ID}
        input(type='submit', value='Submit')

