extends layout
block content
   title #{title}
   h1 Remove Class
   div.row
       div.class.col-md-3 Select Class
   div.row
         form(method='post' action='/removeclassydata')
            div.class.col-md-3
                select(name='class_id' id="ClassToRemove")
                    #rooms
                        -each room in rooms
                            option(value=room._id) #{room.Subject +" "+ room.Course_ID +" "+room.Class_ID}
            div.class.col-md-2
                input(type='submit', value='Submit', class="btn btn-danger", align="class.col-md-2")

