//Created by TJ
        home page for room actions
extends layout

block content
        title #{title}
        h1 Add/Remove Room
        div.row
                div.class.col-sm-2
                        a.btn.btn-primary(href="/getaddroom") Add Room
                div.class.col-sm-2
                        a.btn.btn-primary(href="/editroom") Edit Room
                div.class.col-sm-2
                        a.btn.btn-primary(href="/getremoveroom") Remove Room