extends layout

block content
        title #{title}
        h1 Upload
        p
         form(method='post', enctype='multipart/form-data', action='/')
           label(for="filer") Choose File:&nbsp;
           input(type='file', name='filer', id='filer')
           p
           input(type='submit', class="btn btn-danger")