extends layout

block content
        title #{title}
        h1 Upload
        p Welcome
        p
         form(method='post', enctype='multipart/form-data', action='/')
           input(type='file', name='filer', id='filer')
           p
           input(type='submit', class="btn btn-danger")