div.navbar{
    background-color: #0f0f0f;
    border-bottom-width: medium;
    border-bottom-color: #fc271f;
    text-decoration-color: #9acfea;

}
ul.nav.navbar-nav li a{
    color: white;
}

ul.nav.navbar-nav li a:hover {
    color: white;
    text-decoration: underline;
    text-decoration-color: white;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: Black;
    background-color: White;
}
/*
.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open > .dropdown-toggle.btn-primary {
    color: #FFF;
    background-color: Black;
    border-color: #204D74;
}
.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open > .dropdown-toggle.btn-default {
    color: White;
    background-color: #080808;
    border-color: #ADADAD;
}
.btn-default {
    color: White;
    background-color: #222222;
    border-color: #CCC;
}*/
